[Unit]
Description=My steamcmd satisfactory Sandstorm Server
After=network.target

[Service]
User=steam
WorkingDirectory=/home/steam/steamcmd/
ExecStartPre=/home/steam/steamcmd/steamcmd.sh +runscript /home/steam/steamcmd/satisfactory_update
ExecStart=/home/steam/steamcmd/satisfactory_launch
## TimeoutStartSec=infinity
## Restart=always
LimitNOFILE=4096
StandardOutput=append:/var/log/satisfactory.log
StandardError=append:/var/log/satisfactory.err

[Install]
WantedBy=multi-user.target
## END OF FILE 
